<center>
<h1><%= @show.name %> Rally</h1>
<%= @show.date.to_date %></br>
<%= @show.city %>, <%= @show.state %><br>
</center>

<h2>Judges</h2>
<% @classes.each do |obedclass| %>
<%= obedclass.classname.titleize %> 
: <%= link_to obedclass.judge.name, judge_path(obedclass.judge.judge_id) %></br>
<% end %>

<p>
<h2>Scores</h2>
<% current = '' %>
<% @scores.each do |score| %>
  <% if current != score.classname %>
    <p><b><%= score.classname %></b></br>
    <% current = score.classname %>
  <% end %>
<%= score.placement %> 
<% name = score.dog_name %>
<% if name.nil? %>
<% 	name = score.dog.akc_name %>
<% end %>
<%= link_to name, dog_path(score.dog.akc_id) %>,
<%= score.dog.breed %>,
<%= score.score %>
</br>
<% end %>