<h1>Judge Listing</h1>
<b>Name: </b> <%= @judge.name %></br> 
<b>AKC id:</b> <%= @judge.judge_id %></br>
<b>Judging assignments:</b> <%= @shows.length %> total</br>

<table>
  <tr>
    <th>Show</th>
    <th>Date</th>
    <th>Classes Judged</th>
  </tr>

<% @shows.zip(@classes).each do |show, obedclass| %>
  <tr>
    <td><%= link_to show.name, show_path(show.show_id) %></td>
	<td><%= show.date.to_date %></td>
	<td><%= obedclass.join(", ") %></td>
  </tr>
<% end %>
</table>