<h3>Please come into the ring!</h3>

<p>The site contains the results from the <i>regular classes only</i> of obedience shows going back to 2000 and rally shows going back to 2005. The data is collected from the public information available on <a href="http://www.akc.org">AKC website</a>. We do not guarantee that this data is complete or even accurate, but we did our best to make it that way. If you find any errors or omissions, please check the <%= link_to "Help Page", help_path %> first, and then <%= link_to "contact us", contact_path %>.</p>

<h3>Available information</h3>
<ul>
	<li>View a searchable list of all <%= link_to "dogs", dogs_path %>. You can search by the registered name, breed, owner and AKC number. For each dog, we list the AKC obedience and rally scores.
	</li>
	
	<li>See a searchable list of <%= link_to "AKC obedience shows", shows_path %> and results for each show.</li>
	
	<li>See a searchable list of <%= link_to "AKC rally shows", ralshows_path %> and results for each show.</li>
	
	<li>View a searchable list of <%= link_to "AKC obedience judges", judges_path %>. For each judge, we link to all of his/her judging assignments. </li>
	

</ul>

<h3>Site news</h3>
<ul>
	<li>12/18/11: November obedience shows have been added.</li>
	<li>1/10/12: Rally scores are now available.</li>
</ul>

<hr>
<%= render 'donate' %>