<header>
<% logo = image_tag("logo.png", :alt => "Scores Database", :class => "round") %>
<%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
	  <li><%= link_to "Dogs", dogs_path %></li>
	  <li><%= link_to "Judges", judges_path %></li>
	  <li><%= link_to "Shows", shows_path %><li>
      <li><%= link_to "Help", help_path %></li>   
    </ul>
  </nav>
</header>