<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27817489-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </head>
  <body>
    <div class="container">
	<div class="span-4">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-4859058775112843";
		/* Dog Ads */
		google_ad_slot = "8321519206";
		google_ad_width = 120;
		google_ad_height = 600;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
	<div class="span-18">
      <%= render 'layouts/header' %>
      <section class="round">
        <%= yield %>
      </section>
	<%= render 'layouts/footer' %>	
	<%= debug(params) if Rails.env.development? %>
    </div>
	</div>
  </body>
</html>